body, h2, h5 {
  font-family: "Merriweather", "Open nns", nns-serif; }

h1 {
  font-size: 5.2em; }

h2, footer {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1em;
  font-weight: 100; }
  @media (max-width: 640px) {
    h2, footer {
      font-size: 70%; } }

@media (max-width: 640px) {
  h2 {
    margin: 5px 0 20px 0; } }

h5 {
  font-weight: 100;
  opacity: .8; }

a {
  border: none;
  color: #3ba0b4;
  text-decoration: none; }

p {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 300; }

body {
  background: #111;
  border: 20px solid #FFF;
  box-sizing: border-box;
  color: #FFF;
  margin: 0;
  padding: 0;
  text-align: center; }
  @media (max-width: 640px) {
    body {
      border: 10px solid #FFF; } }

img {
  max-width: 100%;
  height: auto; }

footer {
  background: #FFF;
  color: #919191;
  display: block;
  font-size: .9em;
  margin: 0 auto;
  padding: 40px 0 20px;
  text-align: center; }

@-moz-document url-prefix() {
  .gallery .photo {
    margin: 0 auto 180px; }
    @media (max-width: 640px) {
      .gallery .photo {
        margin: 0 auto 90px; } } }
.gallery {
  display: flex;
  flex-direction: column; }
  .gallery .photo {
    max-width: 1000px;
    margin: 0 auto 8%; }
    @media (max-width: 640px) {
      .gallery .photo {
        margin: 0 auto 20%; } }
    .gallery .photo h2 {
      margin-top: 10px;
      opacity: .2;
      -webkit-transition: opacity .25s ease;
      -moz-transition: opacity .25s ease;
      transition: opacity .25s ease; }
      @media (max-width: 640px) {
        .gallery .photo h2 {
          opacity: 1; } }
    .gallery .photo:hover h2 {
      opacity: 1; }

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  header.home {
    background: url("../../img/home_bg_color.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    position: relative; }
    header.home:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
    @media (max-width: 640px) {
      header.home {
        background: url("../../img/home_bg_color-SM.jpg") no-repeat top center;
        background-size: cover;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1em;
        position: relative; }
        header.home:before {
          content: ' ';
          display: block;
          background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-blend-mode: multiply; } }
  header.argentina {
    background: url("../../img/argentina/argentina_28.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.argentina:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.australia {
    background: url("../../img/thumb/australia.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.australia:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.budapest {
    background: url("../../img/budapest/budapest_1.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.budapest:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
    header.budapest .anchor {
      opacity: .5; }
  header.cambodia {
    background: url("../../img/thumb/cambodia.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.cambodia:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
    header.cambodia .anchor {
      opacity: .5; }
  header.croatia {
    background: url("../../img/thumb/croatia.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.croatia:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.galapagos {
    background: url("../../img/galapagos/galapagos_6.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.galapagos:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.istanbul {
    background: url("../../img/thumb/istanbul.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.istanbul:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
    header.istanbul .anchor {
      opacity: .4; }
  header.london {
    background: url("../../img/thumb/london.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.london:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.nepal {
    background: url("../../img/nepal/nepal_7.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.nepal:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.newzealand {
    background: url("../../img/thumb/newzealand.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 9vw;
    position: relative; }
    header.newzealand:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.norway {
    background: url("../../img/norway/hero.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative;
    background: url("../../img/norway/hero.jpg") no-repeat 81% top; }
    header.norway:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.peru {
    background: url("../../img/peru/peru_13.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.peru:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.quilotoa {
    background: url("../../img/thumb/quilotoa.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.quilotoa:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.reykjavik {
    background: url("../../img/thumb/reykjavik.JPG") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.reykjavik:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.rome {
    background: url("../../img/rome/rome_6.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.rome:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.slovenia {
    background: url("../../img/thumb/slovenia.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.slovenia:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.southafrica {
    background: url("../../img/southafrica/hero.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.southafrica:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.squamish {
    background: url("../../img/thumb/squamish.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.squamish:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
    header.squamish .anchor {
      opacity: .5; }
  header.thailand {
    background: url("../../img/thumb/thailand.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.thailand:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
    header.thailand .anchor {
      opacity: .5; }
  header.tofo {
    background: url("../../img/thumb/tofo.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.tofo:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
    header.tofo .anchor {
      opacity: .5; }
  header.argentina {
    color: #B7E3E4; }
  header.australia {
    color: #EFFAB4; }
  header.budapest {
    color: #FAE397; }
  header.cambodia {
    color: #d5aa69; }
  header.croatia {
    color: #BEF6E9; }
  header.galapagos {
    color: #FEDCCC; }
  header.istanbul {
    color: #55d098; }
  header.london {
    color: #FF9966; }
  header.nepal {
    color: #fdedb2; }
  header.newzealand {
    color: #C0C2CE; }
  header.norway {
    color: #EFFFCD; }
  header.peru {
    color: #fdedb2; }
  header.quilotoa {
    color: #F1C3B8; }
  header.reykjavik {
    color: #fdedb2; }
  header.rome {
    color: #77EEDF; }
  header.slovenia {
    color: #75FFC0; }
  header.southafrica {
    color: #FFFDE7; }
  header.squamish {
    color: #f2cb6c; }
  header.thailand {
    color: #FDF06F; }
  header.tofo {
    color: #FF8FA4; }
  header .quote, header .intro, header + .quote {
    max-width: 80%;
    margin: auto;
    position: relative; }
  header .intro h3 {
    line-height: 0; }
  header .intro h5 {
    font-size: 22px;
    margin-top: -7%; }
  header + .quote {
    margin-bottom: 20%;
    width: 1000px; }
    @media (max-width: 640px) {
      header + .quote {
        margin-bottom: 35%; } }
    header + .quote p {
      font-size: 1.9em; }
      @media (max-width: 640px) {
        header + .quote p {
          font-size: 1.3em;
          margin: auto;
          max-width: 80%; } }
    header + .quote:before {
      background: url("../../img/quotation.svg") no-repeat;
      background-size: contain;
      content: ' ';
      display: block;
      max-width: 200px;
      width: 20em;
      height: 20em;
      opacity: .05;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: -20%; }
      @media (max-width: 640px) {
        header + .quote:before {
          top: 0; } }
  header .anchor {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    margin: auto; }
    header .anchor img {
      height: 50px;
      width: 50px; }
    header .anchor:hover, header .anchor.hover {
      opacity: .65; }

#map {
  height: 70vh;
  margin-bottom: 16%;
  width: 100%; }

a[href^="http://maps.google.com/maps"] {
  display: none !important; }

a[href^="https://maps.google.com/maps"] {
  display: none !important; }

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none; }

/*
.gmnoprint div {
    background:none !important;
}
*/
.nav-wrapper {
  background: #0c0c0c;
  display: block;
  padding: 30px 0;
  width: 100%; }
  .nav-wrapper .nav {
    max-width: 1000px;
    margin: 0 auto; }
    .nav-wrapper .nav .item {
      display: inline-block;
      width: 32%;
      max-width: 300px;
      margin: 15px;
      height: auto;
      position: relative; }
      .nav-wrapper .nav .item .overlay {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        opacity: 1; }
        .nav-wrapper .nav .item .overlay .title {
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease;
          font-size: 2em;
          top: 38%; }
      .nav-wrapper .nav .item:hover .overlay {
        background: rgba(0, 0, 0, 0.75); }
      @media (max-width: 640px) {
        .nav-wrapper .nav .item {
          margin: 1px 0;
          max-width: none;
          width: 100%; }
          .nav-wrapper .nav .item .overlay .title {
            font-size: 3em; }
          .nav-wrapper .nav .item img {
            width: 100vw; } }
    .nav-wrapper .nav a[href*="argentina"]:hover .overlay {
      background-color: rgba(34, 90, 91, 0.5); }
      .nav-wrapper .nav a[href*="argentina"]:hover .overlay .title {
        color: #B7E3E4; }
    .nav-wrapper .nav a[href*="australia"]:hover .overlay {
      background-color: rgba(116, 135, 9, 0.5); }
      .nav-wrapper .nav a[href*="australia"]:hover .overlay .title {
        color: #EFFAB4; }
    .nav-wrapper .nav a[href*="budapest"]:hover .overlay {
      background-color: rgba(110, 86, 5, 0.5); }
      .nav-wrapper .nav a[href*="budapest"]:hover .overlay .title {
        color: #FAE397; }
    .nav-wrapper .nav a[href*="cambodia"]:hover .overlay {
      background-color: rgba(25, 18, 7, 0.5); }
      .nav-wrapper .nav a[href*="cambodia"]:hover .overlay .title {
        color: #d5aa69; }
    .nav-wrapper .nav a[href*="croatia"]:hover .overlay {
      background-color: rgba(18, 132, 106, 0.5); }
      .nav-wrapper .nav a[href*="croatia"]:hover .overlay .title {
        color: #BEF6E9; }
    .nav-wrapper .nav a[href*="galapagos"]:hover .overlay {
      background-color: rgba(169, 56, 3, 0.5); }
      .nav-wrapper .nav a[href*="galapagos"]:hover .overlay .title {
        color: #FEDCCC; }
    .nav-wrapper .nav a[href*="istanbul"]:hover .overlay {
      background-color: rgba(2, 6, 4, 0.5); }
      .nav-wrapper .nav a[href*="istanbul"]:hover .overlay .title {
        color: #55d098; }
    .nav-wrapper .nav a[href*="london"]:hover .overlay {
      background-color: rgba(71, 24, 0, 0.5); }
      .nav-wrapper .nav a[href*="london"]:hover .overlay .title {
        color: #FF9966; }
    .nav-wrapper .nav a[href*="nepal"]:hover .overlay {
      background-color: rgba(142, 112, 4, 0.5); }
      .nav-wrapper .nav a[href*="nepal"]:hover .overlay .title {
        color: #fdedb2; }
    .nav-wrapper .nav a[href*="newzealand"]:hover .overlay {
      background-color: rgba(49, 51, 63, 0.5); }
      .nav-wrapper .nav a[href*="newzealand"]:hover .overlay .title {
        color: #C0C2CE; }
    .nav-wrapper .nav a[href*="norway"]:hover .overlay {
      background-color: rgba(119, 174, 0, 0.5); }
      .nav-wrapper .nav a[href*="norway"]:hover .overlay .title {
        color: #EFFFCD; }
    .nav-wrapper .nav a[href*="peru"]:hover .overlay {
      background-color: rgba(142, 112, 4, 0.5); }
      .nav-wrapper .nav a[href*="peru"]:hover .overlay .title {
        color: #fdedb2; }
    .nav-wrapper .nav a[href*="quilotoa"]:hover .overlay {
      background-color: rgba(116, 41, 23, 0.5); }
      .nav-wrapper .nav a[href*="quilotoa"]:hover .overlay .title {
        color: #F1C3B8; }
    .nav-wrapper .nav a[href*="reykjavik"]:hover .overlay {
      background-color: rgba(142, 112, 4, 0.5); }
      .nav-wrapper .nav a[href*="reykjavik"]:hover .overlay .title {
        color: #fdedb2; }
    .nav-wrapper .nav a[href*="rome"]:hover .overlay {
      background-color: rgba(8, 63, 56, 0.5); }
      .nav-wrapper .nav a[href*="rome"]:hover .overlay .title {
        color: #77EEDF; }
    .nav-wrapper .nav a[href*="slovenia"]:hover .overlay {
      background-color: rgba(0, 86, 47, 0.5); }
      .nav-wrapper .nav a[href*="slovenia"]:hover .overlay .title {
        color: #75FFC0; }
    .nav-wrapper .nav a[href*="southafrica"]:hover .overlay {
      background-color: rgba(200, 184, 0, 0.5); }
      .nav-wrapper .nav a[href*="southafrica"]:hover .overlay .title {
        color: #FFFDE7; }
    .nav-wrapper .nav a[href*="squamish"]:hover .overlay {
      background-color: rgba(59, 43, 5, 0.5); }
      .nav-wrapper .nav a[href*="squamish"]:hover .overlay .title {
        color: #f2cb6c; }
    .nav-wrapper .nav a[href*="thailand"]:hover .overlay {
      background-color: rgba(77, 70, 1, 0.5); }
      .nav-wrapper .nav a[href*="thailand"]:hover .overlay .title {
        color: #FDF06F; }
    .nav-wrapper .nav a[href*="tofo"]:hover .overlay {
      background-color: rgba(112, 0, 21, 0.5); }
      .nav-wrapper .nav a[href*="tofo"]:hover .overlay .title {
        color: #FF8FA4; }
    @media (max-width: 640px) {
      .nav-wrapper .nav a[href*="argentina"] .overlay {
        background-color: rgba(34, 90, 91, 0.5); }
        .nav-wrapper .nav a[href*="argentina"] .overlay .title {
          color: #B7E3E4; }
      .nav-wrapper .nav a[href*="australia"] .overlay {
        background-color: rgba(116, 135, 9, 0.5); }
        .nav-wrapper .nav a[href*="australia"] .overlay .title {
          color: #EFFAB4; }
      .nav-wrapper .nav a[href*="budapest"] .overlay {
        background-color: rgba(110, 86, 5, 0.5); }
        .nav-wrapper .nav a[href*="budapest"] .overlay .title {
          color: #FAE397; }
      .nav-wrapper .nav a[href*="cambodia"] .overlay {
        background-color: rgba(25, 18, 7, 0.5); }
        .nav-wrapper .nav a[href*="cambodia"] .overlay .title {
          color: #d5aa69; }
      .nav-wrapper .nav a[href*="croatia"] .overlay {
        background-color: rgba(18, 132, 106, 0.5); }
        .nav-wrapper .nav a[href*="croatia"] .overlay .title {
          color: #BEF6E9; }
      .nav-wrapper .nav a[href*="galapagos"] .overlay {
        background-color: rgba(169, 56, 3, 0.5); }
        .nav-wrapper .nav a[href*="galapagos"] .overlay .title {
          color: #FEDCCC; }
      .nav-wrapper .nav a[href*="istanbul"] .overlay {
        background-color: rgba(2, 6, 4, 0.5); }
        .nav-wrapper .nav a[href*="istanbul"] .overlay .title {
          color: #55d098; }
      .nav-wrapper .nav a[href*="london"] .overlay {
        background-color: rgba(71, 24, 0, 0.5); }
        .nav-wrapper .nav a[href*="london"] .overlay .title {
          color: #FF9966; }
      .nav-wrapper .nav a[href*="nepal"] .overlay {
        background-color: rgba(142, 112, 4, 0.5); }
        .nav-wrapper .nav a[href*="nepal"] .overlay .title {
          color: #fdedb2; }
      .nav-wrapper .nav a[href*="newzealand"] .overlay {
        background-color: rgba(49, 51, 63, 0.5); }
        .nav-wrapper .nav a[href*="newzealand"] .overlay .title {
          color: #C0C2CE; }
      .nav-wrapper .nav a[href*="norway"] .overlay {
        background-color: rgba(119, 174, 0, 0.5); }
        .nav-wrapper .nav a[href*="norway"] .overlay .title {
          color: #EFFFCD; }
      .nav-wrapper .nav a[href*="peru"] .overlay {
        background-color: rgba(142, 112, 4, 0.5); }
        .nav-wrapper .nav a[href*="peru"] .overlay .title {
          color: #fdedb2; }
      .nav-wrapper .nav a[href*="quilotoa"] .overlay {
        background-color: rgba(116, 41, 23, 0.5); }
        .nav-wrapper .nav a[href*="quilotoa"] .overlay .title {
          color: #F1C3B8; }
      .nav-wrapper .nav a[href*="reykjavik"] .overlay {
        background-color: rgba(142, 112, 4, 0.5); }
        .nav-wrapper .nav a[href*="reykjavik"] .overlay .title {
          color: #fdedb2; }
      .nav-wrapper .nav a[href*="rome"] .overlay {
        background-color: rgba(8, 63, 56, 0.5); }
        .nav-wrapper .nav a[href*="rome"] .overlay .title {
          color: #77EEDF; }
      .nav-wrapper .nav a[href*="slovenia"] .overlay {
        background-color: rgba(0, 86, 47, 0.5); }
        .nav-wrapper .nav a[href*="slovenia"] .overlay .title {
          color: #75FFC0; }
      .nav-wrapper .nav a[href*="southafrica"] .overlay {
        background-color: rgba(200, 184, 0, 0.5); }
        .nav-wrapper .nav a[href*="southafrica"] .overlay .title {
          color: #FFFDE7; }
      .nav-wrapper .nav a[href*="squamish"] .overlay {
        background-color: rgba(59, 43, 5, 0.5); }
        .nav-wrapper .nav a[href*="squamish"] .overlay .title {
          color: #f2cb6c; }
      .nav-wrapper .nav a[href*="thailand"] .overlay {
        background-color: rgba(77, 70, 1, 0.5); }
        .nav-wrapper .nav a[href*="thailand"] .overlay .title {
          color: #FDF06F; }
      .nav-wrapper .nav a[href*="tofo"] .overlay {
        background-color: rgba(112, 0, 21, 0.5); }
        .nav-wrapper .nav a[href*="tofo"] .overlay .title {
          color: #FF8FA4; } }

.overlay {
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  transition: opacity .25s ease; }
  @media (max-width: 992px) {
    .overlay {
      font-size: 90%; } }
  @media (max-width: 767px) {
    .overlay {
      font-size: 80%; } }
  @media (max-width: 640px) {
    .overlay {
      font-size: 70%;
      opacity: 1; } }
  .overlay .title {
    font-size: 2.8em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 auto; }
  .overlay .title, .overlay h5 {
    color: #FFF;
    -webkit-user-select: none;
    /* Chrome/nfari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    -o-user-select: none;
    user-select: none;
    cursor: pointer; }
  .overlay h5 {
    font-size: 1.2em;
    font-weight: 100;
    margin-top: 4px; }

header.home {
  filter: grayscale(100%); }
  header.home h1 {
    max-width: 1176px; }
  header.home h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em; }
  header.home .quote {
    margin: auto auto auto 10%;
    text-align: left; }
  header.home .anchor {
    left: 10%;
    top: 10%;
    right: auto;
    opacity: 1; }
    header.home .anchor img {
      height: 80px;
      width: 80px; }

.arrow {
  position: absolute;
  bottom: 10%;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 1; }
  .arrow.hover, .arrow:hover {
    opacity: 1; }

#photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #photos a {
    width: 50%; }
    #photos a:nth-of-type(odd) .thumb {
      margin-right: 0px; }
    @media (max-width: 640px) {
      #photos a {
        width: 100%; } }
  #photos a[href*="argentina"]:hover .overlay {
    background-color: rgba(34, 90, 91, 0.5); }
    #photos a[href*="argentina"]:hover .overlay .title {
      color: #B7E3E4; }
  #photos a[href*="australia"]:hover .overlay {
    background-color: rgba(116, 135, 9, 0.5); }
    #photos a[href*="australia"]:hover .overlay .title {
      color: #EFFAB4; }
  #photos a[href*="budapest"]:hover .overlay {
    background-color: rgba(110, 86, 5, 0.5); }
    #photos a[href*="budapest"]:hover .overlay .title {
      color: #FAE397; }
  #photos a[href*="cambodia"]:hover .overlay {
    background-color: rgba(25, 18, 7, 0.5); }
    #photos a[href*="cambodia"]:hover .overlay .title {
      color: #d5aa69; }
  #photos a[href*="croatia"]:hover .overlay {
    background-color: rgba(18, 132, 106, 0.5); }
    #photos a[href*="croatia"]:hover .overlay .title {
      color: #BEF6E9; }
  #photos a[href*="galapagos"]:hover .overlay {
    background-color: rgba(169, 56, 3, 0.5); }
    #photos a[href*="galapagos"]:hover .overlay .title {
      color: #FEDCCC; }
  #photos a[href*="istanbul"]:hover .overlay {
    background-color: rgba(2, 6, 4, 0.5); }
    #photos a[href*="istanbul"]:hover .overlay .title {
      color: #55d098; }
  #photos a[href*="london"]:hover .overlay {
    background-color: rgba(71, 24, 0, 0.5); }
    #photos a[href*="london"]:hover .overlay .title {
      color: #FF9966; }
  #photos a[href*="nepal"]:hover .overlay {
    background-color: rgba(142, 112, 4, 0.5); }
    #photos a[href*="nepal"]:hover .overlay .title {
      color: #fdedb2; }
  #photos a[href*="newzealand"]:hover .overlay {
    background-color: rgba(49, 51, 63, 0.5); }
    #photos a[href*="newzealand"]:hover .overlay .title {
      color: #C0C2CE; }
  #photos a[href*="norway"]:hover .overlay {
    background-color: rgba(119, 174, 0, 0.5); }
    #photos a[href*="norway"]:hover .overlay .title {
      color: #EFFFCD; }
  #photos a[href*="peru"]:hover .overlay {
    background-color: rgba(142, 112, 4, 0.5); }
    #photos a[href*="peru"]:hover .overlay .title {
      color: #fdedb2; }
  #photos a[href*="quilotoa"]:hover .overlay {
    background-color: rgba(116, 41, 23, 0.5); }
    #photos a[href*="quilotoa"]:hover .overlay .title {
      color: #F1C3B8; }
  #photos a[href*="reykjavik"]:hover .overlay {
    background-color: rgba(142, 112, 4, 0.5); }
    #photos a[href*="reykjavik"]:hover .overlay .title {
      color: #fdedb2; }
  #photos a[href*="rome"]:hover .overlay {
    background-color: rgba(8, 63, 56, 0.5); }
    #photos a[href*="rome"]:hover .overlay .title {
      color: #77EEDF; }
  #photos a[href*="slovenia"]:hover .overlay {
    background-color: rgba(0, 86, 47, 0.5); }
    #photos a[href*="slovenia"]:hover .overlay .title {
      color: #75FFC0; }
  #photos a[href*="southafrica"]:hover .overlay {
    background-color: rgba(200, 184, 0, 0.5); }
    #photos a[href*="southafrica"]:hover .overlay .title {
      color: #FFFDE7; }
  #photos a[href*="squamish"]:hover .overlay {
    background-color: rgba(59, 43, 5, 0.5); }
    #photos a[href*="squamish"]:hover .overlay .title {
      color: #f2cb6c; }
  #photos a[href*="thailand"]:hover .overlay {
    background-color: rgba(77, 70, 1, 0.5); }
    #photos a[href*="thailand"]:hover .overlay .title {
      color: #FDF06F; }
  #photos a[href*="tofo"]:hover .overlay {
    background-color: rgba(112, 0, 21, 0.5); }
    #photos a[href*="tofo"]:hover .overlay .title {
      color: #FF8FA4; }
  @media (max-width: 640px) {
    #photos a[href*="argentina"] .overlay {
      background-color: rgba(34, 90, 91, 0.5); }
      #photos a[href*="argentina"] .overlay .title {
        color: #B7E3E4; }
    #photos a[href*="australia"] .overlay {
      background-color: rgba(116, 135, 9, 0.5); }
      #photos a[href*="australia"] .overlay .title {
        color: #EFFAB4; }
    #photos a[href*="budapest"] .overlay {
      background-color: rgba(110, 86, 5, 0.5); }
      #photos a[href*="budapest"] .overlay .title {
        color: #FAE397; }
    #photos a[href*="cambodia"] .overlay {
      background-color: rgba(25, 18, 7, 0.5); }
      #photos a[href*="cambodia"] .overlay .title {
        color: #d5aa69; }
    #photos a[href*="croatia"] .overlay {
      background-color: rgba(18, 132, 106, 0.5); }
      #photos a[href*="croatia"] .overlay .title {
        color: #BEF6E9; }
    #photos a[href*="galapagos"] .overlay {
      background-color: rgba(169, 56, 3, 0.5); }
      #photos a[href*="galapagos"] .overlay .title {
        color: #FEDCCC; }
    #photos a[href*="istanbul"] .overlay {
      background-color: rgba(2, 6, 4, 0.5); }
      #photos a[href*="istanbul"] .overlay .title {
        color: #55d098; }
    #photos a[href*="london"] .overlay {
      background-color: rgba(71, 24, 0, 0.5); }
      #photos a[href*="london"] .overlay .title {
        color: #FF9966; }
    #photos a[href*="nepal"] .overlay {
      background-color: rgba(142, 112, 4, 0.5); }
      #photos a[href*="nepal"] .overlay .title {
        color: #fdedb2; }
    #photos a[href*="newzealand"] .overlay {
      background-color: rgba(49, 51, 63, 0.5); }
      #photos a[href*="newzealand"] .overlay .title {
        color: #C0C2CE; }
    #photos a[href*="norway"] .overlay {
      background-color: rgba(119, 174, 0, 0.5); }
      #photos a[href*="norway"] .overlay .title {
        color: #EFFFCD; }
    #photos a[href*="peru"] .overlay {
      background-color: rgba(142, 112, 4, 0.5); }
      #photos a[href*="peru"] .overlay .title {
        color: #fdedb2; }
    #photos a[href*="quilotoa"] .overlay {
      background-color: rgba(116, 41, 23, 0.5); }
      #photos a[href*="quilotoa"] .overlay .title {
        color: #F1C3B8; }
    #photos a[href*="reykjavik"] .overlay {
      background-color: rgba(142, 112, 4, 0.5); }
      #photos a[href*="reykjavik"] .overlay .title {
        color: #fdedb2; }
    #photos a[href*="rome"] .overlay {
      background-color: rgba(8, 63, 56, 0.5); }
      #photos a[href*="rome"] .overlay .title {
        color: #77EEDF; }
    #photos a[href*="slovenia"] .overlay {
      background-color: rgba(0, 86, 47, 0.5); }
      #photos a[href*="slovenia"] .overlay .title {
        color: #75FFC0; }
    #photos a[href*="southafrica"] .overlay {
      background-color: rgba(200, 184, 0, 0.5); }
      #photos a[href*="southafrica"] .overlay .title {
        color: #FFFDE7; }
    #photos a[href*="squamish"] .overlay {
      background-color: rgba(59, 43, 5, 0.5); }
      #photos a[href*="squamish"] .overlay .title {
        color: #f2cb6c; }
    #photos a[href*="thailand"] .overlay {
      background-color: rgba(77, 70, 1, 0.5); }
      #photos a[href*="thailand"] .overlay .title {
        color: #FDF06F; }
    #photos a[href*="tofo"] .overlay {
      background-color: rgba(112, 0, 21, 0.5); }
      #photos a[href*="tofo"] .overlay .title {
        color: #FF8FA4; } }

.thumb {
  margin: 1px 2px 0;
  position: relative; }
  @media (max-width: 640px) {
    .thumb {
      margin: .5% 0; } }
  .thumb:hover .overlay {
    opacity: 1; }

/*# sourceMappingURL=styles.css.map */
