body, h1, h2, h5 {
  font-family: "Merriweather", "Open nns", nns-serif; }

h1 {
  font-size: 1.4em;
  font-weight: 300; }

h2, footer {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1em;
  font-weight: 100; }
  @media (max-width: 640px) {
    h2, footer {
      font-size: 70%; } }

@media (max-width: 640px) {
  h2 {
    margin: 5px 0 20px 0; } }

h5 {
  font-weight: 100;
  opacity: .8; }

a {
  border: none;
  color: #3ba0b4;
  text-decoration: none; }

p {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 300; }

body {
  background: #111;
  box-sizing: border-box;
  color: #FFF;
  margin: 0;
  padding: 0;
  text-align: center; }

img {
  max-width: 100%;
  height: auto; }

footer {
  display: block;
  font-size: .9em;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  text-align: center; }

@-moz-document url-prefix() {
  .gallery .photo {
    margin: 0 auto 180px; }
    @media (max-width: 640px) {
      .gallery .photo {
        margin: 0 auto 90px; } } }
.gallery {
  display: flex;
  flex-direction: column; }
  .gallery .photo {
    max-width: 1000px;
    margin: 0 auto 8%; }
    @media (max-width: 640px) {
      .gallery .photo {
        margin: 0 auto 20%; } }
    .gallery .photo h2 {
      margin-top: 10px;
      opacity: .2;
      -webkit-transition: opacity .25s ease;
      -moz-transition: opacity .25s ease;
      transition: opacity .25s ease; }
      @media (max-width: 640px) {
        .gallery .photo h2 {
          opacity: 1; } }
    .gallery .photo:hover h2 {
      opacity: 1; }

header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%; }
  header.home {
    background: url("../../img/home_bg_color.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    position: relative; }
    header.home:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
    @media (max-width: 640px) {
      header.home {
        background: url("../../img/home_bg_color-SM.jpg") no-repeat top center;
        background-size: cover;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1em;
        position: relative; }
        header.home:before {
          content: ' ';
          display: block;
          background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-blend-mode: multiply; } }
  header.argentina {
    background: url("../../img/argentina/argentina_28.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.argentina:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.australia {
    background: url("../../img/thumb/australia.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.australia:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.budapest {
    background: url("../../img/budapest/budapest_1.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.budapest:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
    header.budapest .anchor {
      opacity: .5; }
  header.cambodia {
    background: url("../../img/thumb/cambodia.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.cambodia:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
    header.cambodia .anchor {
      opacity: .5; }
  header.croatia {
    background: url("../../img/thumb/croatia.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.croatia:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.galapagos {
    background: url("../../img/galapagos/galapagos_6.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.galapagos:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.istanbul {
    background: url("../../img/thumb/istanbul.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.istanbul:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
    header.istanbul .anchor {
      opacity: .4; }
  header.london {
    background: url("../../img/thumb/london.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.london:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.nepal {
    background: url("../../img/nepal/nepal_7.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.nepal:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.newzealand {
    background: url("../../img/thumb/newzealand.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.newzealand:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.norway {
    background: url("../../img/norway/hero.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative;
    background: url("../../img/norway/hero.jpg") no-repeat 81% top; }
    header.norway:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.peru {
    background: url("../../img/peru/peru_13.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.peru:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.quilotoa {
    background: url("../../img/thumb/quilotoa.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.quilotoa:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.reykjavik {
    background: url("../../img/thumb/reykjavik.JPG") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.reykjavik:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.rome {
    background: url("../../img/rome/rome_6.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.rome:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.slovenia {
    background: url("../../img/thumb/slovenia.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.slovenia:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.southafrica {
    background: url("../../img/southafrica/hero.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.southafrica:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
  header.squamish {
    background: url("../../img/thumb/squamish.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.squamish:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
    header.squamish .anchor {
      opacity: .5; }
  header.thailand {
    background: url("../../img/thumb/thailand.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.thailand:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
    header.thailand .anchor {
      opacity: .5; }
  header.tofo {
    background: url("../../img/thumb/tofo.jpg") no-repeat top center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative; }
    header.tofo:before {
      content: ' ';
      display: block;
      background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, #111111 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-blend-mode: multiply; }
    header.tofo .anchor {
      opacity: .5; }
  header .quote, header .intro, header + .quote {
    max-width: 80%;
    margin: auto;
    position: relative; }
  header .quote {
    align-self: center;
    color: #FFF; }
  header .intro h3 {
    line-height: 0; }
  header .intro h5 {
    font-size: 22px;
    margin-top: -7%; }
  header + .quote {
    margin-bottom: 20%;
    width: 1000px; }
    @media (max-width: 640px) {
      header + .quote {
        margin-bottom: 35%; } }
    header + .quote p {
      font-size: 1.9em; }
      @media (max-width: 640px) {
        header + .quote p {
          font-size: 1.3em;
          margin: auto;
          max-width: 80%; } }
    header + .quote:before {
      background: url("../../img/quotation.svg") no-repeat;
      background-size: contain;
      content: ' ';
      display: block;
      max-width: 200px;
      width: 20em;
      height: 20em;
      opacity: .05;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: -20%; }
      @media (max-width: 640px) {
        header + .quote:before {
          top: 0; } }
  header .anchor {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: .35;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    transition: opacity .25s ease; }
    header .anchor:hover, header .anchor.hover {
      opacity: .65; }

#map {
  height: 70vh;
  margin-bottom: 16%;
  width: 100%; }

a[href^="http://maps.google.com/maps"] {
  display: none !important; }

a[href^="https://maps.google.com/maps"] {
  display: none !important; }

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none; }

/*
.gmnoprint div {
    background:none !important;
}
*/
.nav-wrapper {
  background: #0c0c0c;
  display: block;
  padding: 30px 0;
  width: 100%; }
  .nav-wrapper .nav {
    max-width: 1000px;
    margin: 0 auto; }
    .nav-wrapper .nav .item {
      display: inline-block;
      width: 32%;
      max-width: 300px;
      margin: 15px;
      height: auto;
      position: relative; }
      @media (max-width: 640px) {
        .nav-wrapper .nav .item {
          margin: 2px 0;
          max-width: none;
          width: 100%; } }
      .nav-wrapper .nav .item .overlay {
        opacity: 1; }
        .nav-wrapper .nav .item .overlay .title {
          font-size: 2em;
          top: 38%; }
      .nav-wrapper .nav .item:hover .title {
        text-decoration: underline; }

.overlay {
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  transition: opacity .25s ease; }
  @media (max-width: 992px) {
    .overlay {
      font-size: 90%; } }
  @media (max-width: 767px) {
    .overlay {
      font-size: 80%; } }
  @media (max-width: 640px) {
    .overlay {
      font-size: 70%;
      opacity: 1; } }
  .overlay .title {
    font-size: 2.8em;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto; }
  .overlay .title, .overlay h5 {
    color: #FFF;
    -webkit-user-select: none;
    /* Chrome/nfari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    -o-user-select: none;
    user-select: none;
    cursor: pointer; }
  .overlay h5 {
    font-size: 1.2em;
    font-weight: 100;
    margin-top: 4px; }

.arrow {
  position: absolute;
  bottom: 10%;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 1; }
  .arrow.hover, .arrow:hover {
    opacity: 1; }

#photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #photos a {
    width: 50%; }
    @media (max-width: 640px) {
      #photos a {
        width: 100%; } }

.thumb {
  margin: .5%;
  position: relative; }
  @media (max-width: 640px) {
    .thumb {
      margin: .5% 0; } }
  .thumb:hover .overlay {
    opacity: 1; }

/*# sourceMappingURL=styles.css.map */
