body {
  background: $bg;
  border: 2vw solid #FFF;
  box-sizing: border-box;
  color: $body-text;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (max-width: $screen-sm) {
    border: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  background: #FFF;
  color: lighten($bg, 50%);
  display: block;
  font-size: .9em;
  margin: 0 auto;
  padding: 40px 0 20px;
  text-align: center;
}

@-moz-document url-prefix() {
  .gallery .photo {
    margin: 0 auto 180px;

    @media (max-width: $screen-sm) {
      margin: 0 auto 90px;
    }
  }
}
